.page {
  height: 100vh; /* Full height of viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Light background color */
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
